/proyecto_final/code/java/minecraft_parser/target/
/Bibliografia/
/anteproyecto/
proyecto_final/Data/MCA Selector.lnk
proyecto_final/Data/MCA_Selector_Setup.exe
proyecto_final/Data/NBTExplorer-2.8.0.zip
proyecto_final/code/__pycache__/
.vscode/
proyecto_final/Data/chunks.csv
proyecto_final/code/python/__pycache__/