/proyecto_final/code/java/minecraft_parser/target/
/Bibliografia/
/anteproyecto/
proyecto_final/Data/MCA Selector.lnk
proyecto_final/Data/MCA_Selector_Setup.exe
proyecto_final/Data/NBTExplorer-2.8.0.zip
proyecto_final/code/__pycache__/
.vscode/
proyecto_final/Data/chunks.csv
proyecto_final/code/python/__pycache__/
proyecto_final/Data/blockCount.csv
proyecto_final/Data/chunkBlockCount.csv
proyecto_final/Data/transactions2x2x2.csv
proyecto_final/Data/transactions4x4x4.csv
proyecto_final/Data/rules20x20.csv
proyecto_final/Data/rules25x10.csv
proyecto_final/Data/rules50x80.csv
